/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #000;
}

.container-fluid{
	padding: 0px;
}

.carousel-indicators{
	top: 20px;
}

.carousel-indicators li{
	margin-right: 8px;
}

.carousel-indicators .active{
	margin-right: 8px;
}

.carousel-image-1 {
    background-image: url("../img/hero-img-1.jpg");
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-image-2 {
    background-image: url("../img/hero-img-2.png");
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-image-3 {
    background-image: url("../img/hero-img-3.jpg");
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-image-4 {
    background-image: url("../img/hero-img-4.jpg");
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-caption{
	bottom: 0px;
	top: 25%;
	left: 50%;
	text-align: left;
	width: 45%;
}

.carousel-heading {
	padding-bottom: 2em;
}

.carousel-heading h1{
	font-size: 6em;
	margin: .2em 0;
}

.carousel-heading h1 span{
	font-weight: 200;
	font-size: .7em;
}

.carousel-placeholder {
	display: inline-block;
}

.carousel-placeholder h2 {
	font-size: 5em;
	font-weight: 100;
    padding-right: 15px;
    margin: 0;
}

.carousel-placeholder p {
	font-size: 5em;
	font-weight: 100;
	padding-right: 15px;
}

.carousel-data {
    display: inline-block;
    margin-top: 8px;
}

.carousel-data ul{
    list-style-type: none;
}

.carousel-data h2, .carousel-data li{
	font-size: 4em;
	margin: 5px 0;
}

.carousel-data h2 span, .carousel-data li span{
	font-weight: 100;
}

.info-tab {
	text-align: center;
	position: absolute;
	bottom: 20px;
    left: 46%;
    transform: translate(-5%, -5%);
}

.info-tab h2{
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	padding: 7px 15px;
	border-radius: 8px;
	font-weight: 400;
	background-color: rgba(0,0,0, 0.4);
}

.dataflow-section {
    padding: 8em;
}

.dataflow-tab {
    color: #fff;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    max-width: 310px;
    width: 100%;
    padding: .2em;
    margin-bottom: 2em;
    letter-spacing: 8px;
}

.dataflow-tab-yellow {
    border-radius: 7px;
    border: 3px solid #cb8238;
    background-color: rgba(209, 114, 64, 0.19);
    font-size: 3em;
    color: #cb8238;
    text-align: center;
    font-weight: 800;
    position: relative;
    top: 30%;
}

.dataflow-tab-yellow span{
    font-weight: 200;
}

.dataflow-map-upper {
    font-size: 3em;
    font-weight: 800;
    color: #d69448;
    padding-bottom: 3em;
    margin-bottom: 4em;
}

.dataflow-map-lower{
    font-size: 3em;
    font-weight: 800;
    color: #5d5d5d;
}

.data-section img{
	width: 100%;
}

.title {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
}

.chart-data {
    color: #fff;
}

.chart-date {
    padding: 1em 0em;
}

.chart-date h3 {
    font-size: 2em;
    font-weight: 600;
}

.chart-data-details {
    display: block;
}

.chart-col-1 {
    display: inline-block;
    width: 8%;
}

.chart-col-1 p {
    font-size: 1.5em;
    font-weight: 600;
}

.info-section {
    padding: 8em;
    color: #c0c1d8;
}

.info-section img {
    padding-right: 5em;
    width: 100%;
}

.info-section h2{
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0;
}

.info-section h2 span{
    font-weight: 800;
}

.info-section p{
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 1em 0;
}

.footer {
	text-align: center;
	color: #fff;
	padding: 6em 2em 15em;
}

.footer h2{
	margin: 1em 0em 2em 0em;
	font-size: 3em;
    font-weight: 200;
    top: 40%;
    position: relative;
}

.footer-contact {
    position: relative;
    top: 40%;
}

.contact-btn {
	background-color: #faa700;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 3em;
	font-weight: 800;
    margin-bottom: 2em;
    color: #fff;
}

.contact-btn:hover, .contact-btn:active, .contact-btn:focus {
    color: #fff;
    text-decoration: none;
}

.contact-btn span{
	font-weight: 200;
}

/* CSS code scolling of text */
.scroll-box {
    height: 60px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .scroll-box::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,.2), rgba(0,0,0,0));
  }
  .scroll-box::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.3));
  }
  .scroll-box ul {
    margin: 0;
    padding: 0;
    animation: scrollUp 6.5s 0.3s infinite forwards;
  }
  .scroll-box ul li {
    opacity: 1;
    height: 70px;
    padding: 10px;
    list-style: none;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes scrollUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-83.33333%);
    }
  }

  /* media query for different devices */
  /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1366px) and (min-width: 1285px){ 
    .carousel-heading h1 {
        font-size: 4.5em;
        margin: .2em 0;
    }
    .carousel-data h2, .carousel-data li {
        font-size: 3em;
        margin: 5px 0;
    }
    .carousel-placeholder p {
        font-size: 3em;
        font-weight: 100;
        padding-right: 15px;
    }
    .info-section h2{
        font-size: 2.5em;
    }
    .info-section p{
        font-size: 1.2em;
        padding: 1em 0em 0em;
    }
    .chart-col-1 {
        width: 13%;
    }
 }

 @media (max-width: 1280px) { 
    .carousel-heading h1 {
        font-size: 4em;
        margin: .2em 0;
    }
    .carousel-data h2, .carousel-data li {
        font-size: 2.5em;
        margin: 5px 0;
    }
    .carousel-placeholder h2 {
        font-size: 3.5em;
    }
    .carousel-placeholder p {
        font-size: 2.5em;
        font-weight: 100;
        padding-right: 15px;
    }
    .scroll-box {
        height: 38px;
    }
    .chart-col-1 {
        width: 14%;
    }
    .info-section {
        padding: 6em;
    }
    .info-section h2{
        font-size: 2.5em;
    }
    .info-section p{
        padding: .5em 0em 0em;
    }
 }

 @media (max-width: 520px) { 
    .carousel-caption{
        top: 20%;
        left: 0%;
        width: 100%;
        padding: 0% 6%;
    }
    .carousel-heading h1 {
        font-size: 4em;
        margin: .2em 0;
    }
    .carousel-data h2, .carousel-data li {
        font-size: 2.5em;
        margin: 5px 0;
    }
    .carousel-placeholder p {
        font-size: 2.5em;
        font-weight: 100;
        padding-right: 15px;
    }
    .scroll-box {
        height: 38px;
    }
    .info-tab {
        left: 33%;
    }
    .graph-section{
        padding: 2em;
    }
    .info-section {
        padding: 2em 3em;
    }
    .info-section img{
        padding: 0;
    }
    .info-section p{
        padding: .5em;
    }
    .carousel-placeholder {
        display: inline-block;
        vertical-align: top;
        padding-right: 0;
    }
 }

 /*pealoader css*/
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
}
#preloader:before,
#preloader:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #171616;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#preloader:after{
    left: auto;
    right: 0;
}
#preloader .loader_line{
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.loader_line:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #777;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms;
}

@keyframes lineheight{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

@keyframes lineround{
    0%{
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100%{
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
}

/*hiding all*/
.preloaded .loader_line:after{
    opacity: 0;
}
.preloaded  .loader_line{
    opacity: 0;
    height: 100%!important;
}
.preloaded:before,
.preloaded:after{
    -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero{
    0%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


